/*
* Workday - A time clock application for employees
* URL: https://codecanyon.net/item/workday-a-time-clock-application-for-employees/23076255
* Support: official.codefactor@gmail.com
* Version: 3.0
* Author: Brian Luna
* Copyright 2021 Codefactor
*/
@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito/nunito-v16-latin-regular.woff2') format('woff2'),
        url('../fonts/nunito/nunito-v16-latin-regular.woff') format('woff'),
        url('../fonts/nunito/nunito-v16-latin-regular.ttf') format('truetype');
}

body {
    font-family: "Nunito", "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #f3f7f9;
}

.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

.auth-box {
    -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 10%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 480px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    color: #616161;
}

.shadow-2 {
    -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
    box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}

.form-label {
    color: rgba(0, 0, 0, .87);
    font-size: .92857143em;
    font-weight: 700;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 2px rgb(13 110 253 / 25%);
}

.form-check-input:focus {
    box-shadow: 0 0 0 2px rgb(13 110 253 / 25%);
}

.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
    box-shadow: 0 0 0 2px rgb(25 135 84 / 25%);
}

.form-check-input.is-invalid:focus,
.was-validated .form-check-input:invalid:focus {
    box-shadow: 0 0 0 2px rgb(220 53 69 / 25%);
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
    box-shadow: 0 0 0 2px rgb(25 135 84 / 25%);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-select:invalid:focus {
    box-shadow: 0 0 0 2px rgb(220 53 69 / 25%);
}